/* _________________________________General settings________________________________ */
@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
}
:root {
    /* Container */
    --cont-width: 70%;
    /* Colors */
    --clr-grey-dark: rgba(0, 0, 0, 0.55);
    --clr-grey-bright: #F0F0F0;
    --clr-blue-btn: #0071E3;
    /* Border */
    --brd-blue-thin: 1px solid #007FFF;
    --rad-brd: 10px;
    --rad-card: 4px;
    /* Font */
    --sz-colossal: 48px;
    --sz-medium: 18px;
    --sz-small: 14px;
    /* Margins, gaps, paddings */
    --pad-user-card: 21px 25px;
    --pad-btn: 12px 30px;
    --gap-grid-cont: 20px;
    --gap-main: 55px;
    --mar-center: 0 auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
button, a {
    cursor: pointer;
    font-size: var(--sz-small);
    font-weight: 500;
    text-decoration: none;
}
/* _____________________________________Document-main settings_______________________ */
main {
    width: 100%;
}
.container {
    width: 90%;
    margin: var(--mar-center);
}
.main__screen-one__container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-main);
}
.screen__one__container-heading {
    text-align: center;
}
.screen__one__container-heading h1 {
    font-size: var(--sz-colossal);
    font-weight: 700;
}
.screen__one__container-content {
    margin: var(--mar-center);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: var(--cont-width);
    gap: var(--gap-grid-cont);
}
.user__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: var(--brd-blue-thin);
    padding: var(--pad-user-card);
    background-color: var(--clr-grey-bright);
    border-radius: var(--rad-brd);
}
.user__card h4 {
    font-size: var(--sz-medium);
    font-family: Roboto;
    font-weight: 400;
}
.user__card-info {
    display: flex;
    flex-direction: column;
    line-height: 17px;
}
.user__card-info span {
    color: var(--clr-grey-dark);
    font-weight: 500;
    font-size: var(--sz-small);
}
.user__card button {
    border: none;
    background-color: var(--clr-blue-btn);
    color: #fff;
    padding: var(--pad-btn);
    border-radius: var(--rad-card);
}
.screen__one-btn__page-changer button{
    width: 100%;
    border: none;
    background-color: var(--clr-blue-btn);
    color: #fff;
    padding: var(--pad-btn);
    border-radius: var(--rad-card);
    display: flex;
    align-items: center;
    justify-content: center;
}
